<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="icon" href="/img/weather-app-icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<img class="portrait" src="/img/butterfly.jpeg">
		</div>

		{{>footer}}
	</body>
</html>