<!DOCTYPE html>
<html>
	<head>
		<title>Weather App</title>
		<link rel="icon" href="/img/weather-app-icon.png">
		<link rel="stylesheet" href="/css/styles.css">
		
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>Use this site to get your Weather!</p>

			<form>
				<input placeholder="Enter your Location">
				<button>
					Click to Search
				</button>
			</form>

			<p id="message-001"></p>
			<p id="message-002"></p>
		</div>

		{{>footer}}
		<script src="/js/app.js"></script>
	</body>
</html> 